<ul id="slide-out"
    class="side-nav"
    materialize="sideNav"
    [materializeActions]="menuAction"
    [materializeParams]="['hide']"
    (click)="closeMenu()">

  <li>
    <div class="user-view">
      <div class="background">
        <img src="/assets/img/background.png">
      </div>
      <a href="#"><img class="circle" src="/assets/img/spider.jpg"></a>
      <a href="#">MARVEL</a>
    </div>
  </li>
  <li><a [routerLink]="['/pages/commics-list']"><i class="material-icons prefix">view_list</i>catalogue de comics</a></li>


</ul>

